
<section>
    {{#each allProducts}}
        <h4>Producto: {{this.title}}</h4>
        <ul>
            <li>Descripción: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Categoria: {{this.category}}</li>
            <li>Imagen: {{this.thumbnails}}</li>
        </ul>
    {{/each}}
</section>
