<div>
    <form action="/realTimeProducts" id="productForm" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="">Nombre producto: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="">Descripcion: </label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">Código: </label>
        <input type="text" name="code">
    </div>
    <div>
        <label for="">Precio: </label>
        <input type="number" name="price">
    </div>
    <div>
         <label for="">Stock: </label>
        <input type="number" name="stock">
    </div>
    <div>
        <label for="">Categoría: </label>
        <input type="text" name="category">
    </div>
    <div>
        <label for="">Fotos: </label>
        <input type="text" name="thumbnails">
    </div>
    <div>
        <input type="submit" label="Agregar producto">
    </div>
    </form>
</div>


<section id="container">
    {{#each allProducts}}
    <div>
        <ul>
            <li>Imagen: {{this.thumbnails}}</li>
            <li>Producto: {{this.title}}</li>
            <li>Descripción: {{this.description}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
            <li>Categoria: {{this.category}}</li>
        </ul>
     </div>
    {{/each}}
</section>
