<nav class="navBar">
        <h1>Tienda de velas</h1>
        <div>
        <img src="https://static.vecteezy.com/system/resources/previews/018/825/343/original/candle-ligth-flat-illustration-free-png.png" alt="">
        </div>
</nav>

<section class="formSection">
<form action="/realTimeProducts" id="productForm" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <label for="">Nombre producto: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="">Descripcion: </label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">Código: </label>
        <input type="text" name="code">
    </div>
    <div>
        <label for="">Precio: </label>
        <input type="number" name="price">
    </div>
    <div>
         <label for="">Stock: </label>
        <input type="number" name="stock">
    </div>
    <div>
        <label for="">Categoría: </label>
        <input type="text" name="category">
    </div>
    <div>
        <label for="">Fotos: </label>
        <input type="text" name="thumbnails">
    </div>
    <div class="submit">
        <input  type="submit" label="Agregar producto">
    </div>
</form>
</section>




<section class="cardContainer">
    {{#each allProducts}}
    <div class="card">
            <img src={{this.thumbnails}} alt=""></img>
            <h3>Producto: {{this.title}}</h3>
            <div class="description">
                <p>Descripción: {{this.description}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Categoria: {{this.category}}</p>
            </div>
     </div>
    {{/each}}
</section>
